.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 30px;
  padding: 0 20px;
  border: 1px solid #ccc;
  min-height: 90%;
}

.form button[type="submit"] {
  border: none;
  height: 30px;
  width: 40px;
  background: #f04c64;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
